		body
		{
			background-image: url("background.png");
		}

		.header
		{
			background: rgb(21,13,154);
			background: linear-gradient(90deg, rgba(21,13,154,1) 0%, rgba(117,17,152,1) 37%, rgba(130,32,86,1) 71%);
		}

		.first_row
		{
			margin-top: 15px; overflow: auto; width: 110%;
		}
		
		.shopp-cart
		{
			width: 80px;
			height: auto;
			float: right;
			padding: 10px;
		}

		.customer
		{
			width: 80px;
			height: auto;
		}

		.games_row
		{
			background-color: yellow;
		}

		.games
		{
			overflow: auto; width: 70%; margin-left: auto;
  			margin-right: auto;
		}

		.other
		{
		    top:50%;
		    background-color:#852146;
		    color: #fff;
		    border:none;
		    border-radius:15px;
		    font-size: 30px;
		    font-family: cursive;
		    width: 200px;
		}

		.search 
		{
		  width: 100%;
		  position: relative;
		  display: flex;
		}

		.searchTerm 
		{
		  width: 100%;
		  border: 3px solid #852146;
		  border-right: none;
		  padding: 5px;
		  height: 35px;
		  border-radius: 5px 0 0 5px;
		  outline: none;
		  color: #9DBFAF;
		}

		.searchTerm:focus
		{
		  color: #00B4CC;
		}

		.searchButton 
		{
		  width: 40px;
		  height: 35px;
		  border: 1px solid #852146;
		  background: #852146;
		  text-align: center;
		  color: #fff;
		  border-radius: 0 5px 5px 0;
		  cursor: pointer;
		  font-size: 20px;
		}

		.slide-img 
		{
			display: block;
		 	margin-left: auto;
			margin-right: auto;
			width: 100%;
		}